body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar {
  width: 100%;
}

.custom-font-weight {
  font-weight: 600; /* You can set any font-weight value here */
}

.banner{
  max-width: 100%;
  height: auto;
}

.card{
  cursor: pointer;
}

#logo{
  width: 50px;
}

.user {
  font-weight: bold; /* Make the username bold */
  font-size: 1rem; /* Adjust font size */
  padding: 8px 12px; /* Add padding for better clickability */
  border: 1px solid transparent; /* Make border transparent initially */
  border-radius: 5px; /* Rounded corners */
  transition: background-color 0.3s, border-color 0.3s; /* Smooth transitions */
}

.user:hover {
  background-color: rgba(90, 95, 100, 0.1); 
  border-color: rgba(152, 182, 212, 0.3); 
}

.showPassword {
  top: 30px;
}


